<center> 
	<div id="tableinfo">
    <table>
     <tr>
         <th>Long URL</th>
         <th>Short URL</th>
         <th>Number of Clicks</th>
     </tr>
        
      <tr>
      <% @url.each do |elem| %>
         <td> <a href = "/<%= elem.long_url %>"><%= elem.long_url %> </a></td>
         <td> <a href = "/<%= elem.short_url %>"><%= elem.short_url %> </a></td>
         <td> <%= elem.click_count %> </td>
      </tr>
 <% end %>
    </table>
  </div>
</center>

<%# <%= prints & <% does not print %>